html, body {
    background-color: #fff;
}

h2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: gray;

}

/* NAVIGATION BAR - TOP */


.top-bar {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.top-bar .logo {
    display: none;
    line-height: 80px;
    font-size: 24px;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

.top-bar .top-header {
    height: 30px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: rgb(182, 182, 182);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.top-bar ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    margin: 0 10px;
}

.top-bar .bottom-header a {
    color: gray;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 14px;
    text-decoration: none;
}

.top-bar .bottom-header a:hover {
    color: black;
}

.top-bar .top-header a {
    color: rgb(189, 189, 189);
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
}

.top-bar .top-header a:hover {
    color: white;
}

.top-bar .bottom-header {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.top-bar .bottom-header button {
    background-color: transparent;
    display: flex;
    padding: 0 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    border-left: 1px solid gray;
    height: 100%;
}

.top-bar .bottom-header button:hover {
    cursor: pointer;
}

.top-bar .bottom-header img {
    height: 20px;
    width: 18px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    vertical-align: middle;
}

.bh-icons {
    display: flex;
    flex-flow: row nowrap;
    outline: none;
}

.bh-icons #menu-icon {
    display: none;
    border: none;
}

.bh-icons .search-icon {
    margin: auto 0;
    margin-right: 10px;
}

.bh-icons .menu-icon img {
    background-color: transparent;
    height: 30px;
    width: 30px;
}


/* NAVIGATION - MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1024px) {
    .top-bar {
        grid-template-columns: 106px 1fr;
    }

    .top-bar .logo {
        display: block;
    }
}

@media (max-width: 768px) {
    .top-bar {
        grid-template-columns: 106px 1fr;
        height: 50px;
    }

    .top-bar .logo {
        display: block;
        height: 50px;
        line-height: 50px;
    }

    .top-bar .top-header {
        display: none;
    }

    .top-bar .bottom-header {
        justify-content: flex-end;
    }

    .top-bar .bottom-header ul {
        display: none;
    }

    .bh-icons #menu-icon {
        display: block;
        border: none;
    }
}

@media (max-width: 832px)  {
    #terms {
        display: none;
    }
}

@media (max-width: 855px)  {
    .top-bar .bottom-header a {
        margin: 0 8px;
        text-align: center;
    }
}

/* TOP STORIES */

.top-stories h2 {
    color: white;
    font-size: 48px;
    line-height: 1;
    padding: 0;
    margin: 10px 0;
}

.top-stories h3 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    margin: 10px 0;
}

.top-stories h4 {
    color: #fff;
    font-size: 16px;
}

.top-stories {
    height: 600px;
    grid-template-areas:
    "story1 story2"
    "story1 story3";
    grid-template-columns: minmax(70px, 4fr) minmax(70px, 2fr);
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-gap: 5px;
    margin: 20px 7px;
    transition-duration: 0.1s;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
}

.story1 {
    background-color: blue;
    grid-area: story1;
    background-image: url(../images/top-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.story1 .story1-gradient {
    background: linear-gradient(142deg, rgba(0,0,0,0.6951155462184874) 0%, rgba(0,0,0,0.20211834733893552) 50%, rgba(0,0,0,0.700717787114846) 100%);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.story1 .story1-grid-container {
    background-image: url(../images/cover-gradient.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.story1 .story1-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px;
}

.story1 .story1-bottom {
    padding: 14px 20px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.story li {
    display: inline;
    color: gray;
}

.story li a{
    color: rgb(185, 185, 185);
}

.story li a:hover{
    text-decoration: underline;
}

.story1 .date {
    text-align: right;
    color: #fff;
}

.story1 .cover-gradient {
    background-position: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 40px;
}

.story img {
    min-width: 100%;
    height:auto;
}

.story1 img {
    max-width: 500px;
    min-width: 50px;
}

.story2 {
    background-color: yellow;
    grid-area: story2;
    background-image: url(../images/top-2-image.jpg);
    background-size: cover;
}

.story3 {
    background-color: cyan;
    grid-area: story3;
    background-image: url(../images/top-3-image.png);
    background-size: cover;
}

.story-grid-container {
    background: linear-gradient(142deg, rgba(0,0,0,0.6951155462184874) 0%, rgba(0,0,0,0.20211834733893552) 50%, rgba(0,0,0,0.700717787114846) 100%);
    background-size: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
}

.story .headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}



/* TOP STORIES - MEDIA QUERY */
@media (max-width: 1026px) {
    .story1 .story1-grid-container {
        background-image: none;
    }

    .story1-top img {
        display: none;
    }

    .story1 .story1-top {
        height: 100px;
    }

    .story1-top .date {
        display: none;
    }

    .top-stories h2 {
        font-size: 40px;
    }
    
    .top-stories h3 {
        font-size: 28px;
    }
    
    .top-stories h4 {
        font-size: 16px;
    }

}



@media (max-width: 768px) {
    .top-stories {
        display: flex;
        flex-flow: column nowrap;
        height: 900px;
    }

    .story {
        height: 300px;
        margin: 5px 0;
    }

    .story1 .story1-grid-container {
        background: linear-gradient(142deg, rgba(0,0,0,0.6951155462184874) 0%, rgba(0,0,0,0.20211834733893552) 50%, rgba(0,0,0,0.700717787114846) 100%);
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    .story1 .story1-top {
        display: none;
    }

    .top-stories h2 {
        font-size: 24px;
    }
    
    .top-stories h3 {
        font-size: 24px;
    }
    
    .top-stories h4 {
        display: none;
    }
}


/* LATEST NEWS */

.latest-news {
    margin: 50px auto;
    max-width: 1200px;
}

.latest-news ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    flex: 0 1 auto;
    margin: 0 10px;
    transition-duration: 0.07s;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
          box-sizing: border-box; 
}

.latest-news li {
    flex-basis: 25%;
    max-width: 25%;
    height: 250px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
    padding: 5px 10px;
    transition-duration: 0.1s;
}

.latest-news img {
    width: 100%;
    transition-duration: 0.1s;
}

.latest-news .heading-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.latest-news .heading-container p {
    font-size: 16px;
    color: gray;
    margin-top: 5px;
}

/* LATEST NEWS - MEDIA QUERY */

@media (max-width: 1024px) {
    .latest-news li {
        flex-basis: 33%;
        max-width: 33%;
        height: 280px;
    }
}


@media (max-width: 768px) {

    .latest-news ul {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .latest-news li {
        max-width: 100%;
        width: 100%;
        height: 100px;
        display: flex;
        flex-flow: row nowrap;
    }

    .latest-news li img {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .latest-news .heading-container {
        padding-left: 10px;
    }

}


/* LATEST FUNDING */

.latest-funding {
    margin: 50px auto;
    max-width: 1200px;
}

.latest-funding header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.latest-funding li {
    display: inline;
    border-left: 2px solid red;
    padding: 0 10px;
}

.latest-funding #first {
    border: none;
}

.latest-funding .items-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
    margin: 0 10px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
}

.latest-funding .funding-item {
    background-color: #fffaf8;
    max-height: 300px;
    display: block;
}

.latest-funding .funding-item h3 {
    background-color: #f42;
    height: 40px;
    padding: 10px 10px 10px 84px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
}

.latest-funding .funding-item h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
}

.latest-funding .funding-item h5 {
    color: gray;
    line-height: 1.2em;
    font-size: 14px;
}

.latest-funding .funding-top {
    position: relative;
    display: block;
    height: 90px;
}

.latest-funding .funding-econ {
    background-color: rgba(255,68,34,.08);
    padding: 10px 10px 10px 84px;
    height: 60px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		  box-sizing: border-box;
}

.latest-funding img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 15px;
}

.latest-funding .category {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.latest-funding .category a {
    padding-top: 10px;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(66, 66, 66);
    font-size: 16px;
}

.latest-funding .category img {
    position: static;
    height: 18px;
    width: 18px;
    padding-right: 10px;
}

.latest-funding .funding-article {
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #f42;
}

.latest-funding .funding-article a {
    line-height: 1.5em;
    font-size: 14px;
    color: rgb(66, 66, 66)
}

.latest-funding .funding-article a span {
    color: gray;
}


/* LATEST FUNDING - MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

    .latest-funding {
        margin: 50px auto;
        max-width: 1200px;
    }
    
    .latest-funding header {
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .latest-funding h2 {
        margin-bottom: 5px;
    }

    .latest-funding header ul {
        margin-left: 10px;
    }

    .latest-funding .items-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .latest-funding #last {
        display: none;
    }
}

@media (max-width: 768px) {
    .latest-funding ul {
        margin-top: 5px;
    }

    .latest-funding li {
        border: none;
        display: block;
        line-height: 28px;
    }

    .latest-funding .items-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .latest-funding .funding-item {
        margin-bottom: 10px;
    }
}


/* PAGES- LIST */

.pages-list {
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

.pages-list .page-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.pages-list .page-container::after {
    content: "";
    max-width: 30%;
    flex-basis: 33%;
    margin: 0 10px;
    padding: 5px 5px;
}

.pages-list .page {
    margin: 20px 10px;
    max-height: 600px;
    flex-basis: 33%;
    max-width: 30%;    
    padding: 5px 5px;
}

.page .background-grad {
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0.2471471207865169) 0%, rgba(0,0,0,1) 85%);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.page header {
    position: relative;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.page .header-text {
    padding: 10px;
    color: white;
    width: 100%;
    height: 200px;
    z-index: 3;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.page .header-text h5 {
    color: white;
    line-height: 1.5em;
    font-size: 14px;
}

.page .header-text a {
    color: white;
    line-height: 1em;
    font-size: 24px;
    font-weight: bold;
}

.page .header-text .header-bottom a {
    color: gray;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: normal;
}

.page .header-text a:hover {
    color: #fff;
}

.page .header-text span {
    color: gray;
    font-size: 16px;
}

.page .bottom-header {
    height: 96px;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(255,68,34,.08);
}

.page .bottom-header img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    position: static;
}

.page .bottom-header .bh-text {
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.page .bottom-header h5 {
    color: #f42;
    font-size: 16px;
}

.page .bottom-header a {
    color: #f42;
    font-size: 18px;
    font-weight: bold;
}

.page .article-links {
    list-style: none;
}

.page .article-links li {
    font-size: 14px;
    padding: 6px 0 6px 14px;
    border-bottom: 1px solid rgb(211, 211, 211) solid;
}

.page .article-links li::before {
    content: "\2022";
    display: inline-block;
    font-weight: bold;
    color: #f42;
    width: 1em;
    margin-left: -1em;
}

.page .article-links a {
    color: rgb(116, 116, 116);
}

.page .article-links a {
    color: rgb(43, 43, 43);
}

/* PAGES-LIST MEDIA QUERIES */

@media (max-width: 1024px) {
    .pages-list .page-container::after {
        display: none;
    }

    .pages-list .page {
        flex-basis: 50%;
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .pages-list .page-container {
        display: block;
    }

    .pages-list .page {
        max-width: 100%;
        margin: 0 10px;
    }

    .pages-list .page {
        margin-top: 20px;
    }

    .page .bottom-header a {
        font-size: 16px;
    }

}


/* LATEST DEALS */

.latest-deals {
    margin: 50px auto;
    max-width: 1200px;
}

.latest-deals header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 1200px;
}

.latest-deals .deal-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 10px;
}

.latest-deals .deal-item {
    flex-basis: 25%;
    max-width: 25%;
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin-bottom: 20px;
}

.latest-deals header a {
     margin-right: 20px;
}

.latest-deals img {
    width: 100%;
    object-fit: fill;
}

.latest-deals h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding: 5px 0;
}

.latest-deals .old-price {
    text-decoration: line-through;
    color: rgb(110, 110, 110);
    font-size: 14px;
}

.latest-deals .new-price {
    color: rgb(49, 49, 49);
    font-size: 18px;
}


/* LATEST DEALS - QUERIES */

@media (max-width: 1024px) {
    .latest-deals .deal-item {
        flex-basis: 33%;
        max-width: 33%;
    }

    .latest-deals .deal-container::after {
        content: "";
        flex-basis: 33%;
        max-width: 33%;
    }
}

@media (max-width: 768px) {
    .latest-deals .deal-container {
        display: block;
    }

    .latest-deals .deal-item {
        max-width: 100%;
        width: 100%;
        height: 60px;
        position: relative;
        padding-left: 100px;
        margin: 30px 0;
    }

    .latest-deals img {
        position: absolute;
        width: 75px;
        height: 75px;
        object-fit: cover;
        left: 10px;
    }

    .latest-deals h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1em;
        padding: 5px 0;
    }
    
    .latest-deals .old-price {
        font-size: 12px;
    }
    
    .latest-deals .new-price {
        font-size: 16px;
    }
}


/* FOOTER */

footer {
    height: 250px;
}

footer .top-footer {
    background-color: gray;
    height: 66%    
}

footer .top-footer .f-buttons {
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}


footer .top-footer .f-links {
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}



footer .top-footer .f-links li {
    display: inline;
    margin: 0 10px;
}

footer .bottom-footer {
    background-color: rgb(53, 53, 53);;
    height: 34%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer .bottom-footer .bf-text {
    max-width: 80%;
    text-align: center;
}