extends layout

block content
    div(class='top')
        h1= title

    div(class='description')
        p Created using 
            inline(class='stack one') Express.js 
            | and 
            inline(class='stack two') Pug

    div(class='new-container')
        h2 new message
        form(method="post", action="/new")
            label(for="username") Name
            input(name="name", id="username", placeholder="name", autocomplete="off")
            label(for="usermessage") Message
            input(name="message", id="usermessage", placeholder="message", autocomplete="off")
            input(type="submit" id="submit-button")