body, body * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION */

nav {
  width: 100%;
  height: 50px;
  background-color: #1a3c30;
  color: #eaeaea;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 1px #bfbfbf;
}

nav h1 {
  font-weight: normal;
  letter-spacing: 2px;
}

img {
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

form {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0px 3px 4px -4px #404040;
  padding-bottom: 10px;
}

form * {
  margin: 4px 5px;
}

form label {
  display: block;
}

form #number-input {
  width: 40px;
}

form #submit-button {
  width: 60px;
}

form #submit-button:hover {
  cursor: pointer;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.scoreboard p {
  margin: 0 10px;
}

.cards {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  max-width: 900px;
  margin: 15px auto;;
  grid-gap: 10px;
}

.cards .card-item {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-basis: 25%;
  box-shadow: 0 0 3px 2px #e0e0e0;
  
}

.cards .card-item:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px #d2d2d2;
}

.cards .card-item:hover img {
  transform: scale(1.05);
}

.cards .card-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform .3s ease;
}

@media only screen and (min-width: 700px) {
  .cards {
    grid-template-columns: 200px 200px 200px;
  }

  .cards .card-item {
    width: 200px;
    height: 200px;
  }

  .cards .card-item img {
    width: 160px;
    height: 160px;
  }
} 

@media only screen and (min-width: 900px) {
  .cards {
    grid-template-columns: 200px 200px 200px 200px;
  }
}