html, body {
    background-color: #545a53;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "monospace", "sans-serif", "Arial";
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #333333;
    color: #31bd8d;
    display: flex;
    align-items: center;
}

nav div {
    margin-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.calculator-container {
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.screen {
    background-color: #333333;;
    margin: 20px 20px 20px 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-container {
    background-color: #44444429;
    height: 380px;
    margin: 5px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgb(74 74 74);
}

.number-button-container {
    margin: 10px 0;
    width: 55%;

    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    align-content: space-between;
}

.action-button-container {
    margin: 10px 0;
    width: 35%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: 375px;
}

.number {
    width: 31%;
    height: 24%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-duration: 0.04s;
    color: #dcdcdc;
    background-color: #333333;
    margin: 2px;
}

.number:hover {
    cursor: pointer;
    background-color: #31bd8d;
    font-size: 32px;
}

#plusminus {
    font-size: 25px;
    width: 31%;
    height: 24%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.04s;
    color: #dcdcdc;
    margin: 2px;
    background-color: #333333;
}

#plusminus:hover {
    font-size: 26px;
    cursor: pointer;
    background-color: #31bd8d;
}

#dot {
    width: 31%;
    height: 24%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-duration: 0.04s;
    color: #dcdcdc;
    margin: 2px;
    background-color: #333333;
}

#dot:hover {
    cursor: pointer;
    background-color: #31bd8d;
    font-size: 32px;
}

.action {
    width: 48%;
    height: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-duration: 0.04s;
    color: #dcdcdc;
    background-color: #333333;
    margin: 2px;
}

.action:hover {
    cursor: pointer;
    background-color: #31bd8d;
    font-size: 32px;
}

.center-border {
    width: 2px;
    border-left: 1px;
    border-right: 1px;
    background-color: gray;
    height: 80%;
    align-self: center;
}

.input-form {
    margin: 5px 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#lastOperation {
    text-align: center;
    color: #dcdcdc;
    width: 20%;
    outline: none;
    border: none;
    height: 100%;
    font-size: 26px;
    background-color: inherit;
}

#textInput {
    outline: none;
    text-align: right;
    width: 75%;
    height: 100%;
    font-size: 30px;
    border: none;
    background-color: inherit;
    color: #eaeaea;
}

#delete {
    font-size: 22px;
    transition-duration: 0.04s;
}

#delete:hover {
    font-size: 24px;
    background-color: #31bd8d;
}

#reset {
    font-size: 25px;
}

#reset:hover {
    font-size: 26px;
    background-color: #31bd8d;
}


#empty {
    width: 50%;
    height: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

#empty:hover {
    cursor: default;
    font-size: 32px;
}
