
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}



html::before {   /* Added */
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/background-photo.jpg);
    transition: 0.5s;
    background-repeat: repeat;
    background-size: cover;
    min-width: 100%;
    min-height:  100%;
    filter: blur(8px);
    z-index: -1;

  }

main {
    margin: 90px auto 0 auto;
    max-width: 1440px;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    max-height: 100%;
}

.button-container {
    text-align: center;
    margin: 30px 0;
}

.button-container button {
    width: 500px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
}

button {
    height: 40px;
    background-color: rgb(236, 236, 236);
    border: none;
    outline: none;
    box-shadow: 0 0 2px 1px rgb(233, 233, 233);
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 3px 1px rgb(216, 216, 216);
    /* border: 1px solid rgb(219, 219, 219); */
}


/* FORM */

form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.inputs {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 100px;
    background-color: rgba(222, 222, 222, 0.79);
    box-shadow: 0 0 2px 1px rgb(192, 192, 192);
}

input {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgb(192, 192, 192);
    border: none;
    transition-duration: 0.5s;
    box-sizing: border-box;
}

.read-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
}

#read {
    width: 20px;
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 20px;
    box-shadow: none;
}

#read-label {
    line-height: 20px;
    font-size: 18px;
    margin-left: 15px;
    box-sizing: border-box;    
}

#submit-form {
    margin-top: 20px;
    width: 100%;

}

/* DISPLAY BOOKS */

.display-books {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.book-item {
    position: relative;
    text-align: center;
    background-color: rgba(222, 222, 222, 0.79);
    width: 100%;
    height: 160px; 
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;   
}

.book-item h2 {
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    color: rgb(78, 78, 78);
}

.book-item span {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.delete-book-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    background-color: white;
    font-weight: bold;
}

