html, body {
    height: 100%;
}

h1 {
    font-size: 20px;
}

.flex-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    color: gray;
    width: auto;
    margin: 20px 0;
}

.button-container {
    margin: 0px 0;
    min-width: 300px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container button {
    text-align: center;
    width: 90px;
    height: 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.SCORES {
    display: flex;
    justify-content: center;
    min-width: 600px;
    text-align: center;
    margin: 10px 0;
    min-height: 20px;
}

.scoretext {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 200px;
    height: 80px;
    text-align: start;
}

#play-again {
    display: none;
    width: 110px;
}

#play-again input {
    width: 100px;
}

